---
layout: default
title: Chi siamo
---

<div class="max-w-3xl mx-auto">
  <h1 class="text-2xl text-center font-bold mb-6"><%= resource.data.title %></h1>

  <p>Con orgoglio ed amore, dal Gennaio 1953 intratteniamo il pubblico con cinema e teatro, unica sala climatizzata composta da platea e Galleria, capienza 450 posti. Misure palco 8,16 mt larghezza 6,20 mt altezza 4,50. Profondita 5 camerini. Angolo bar</p>
</div>